<!DOCTYPE html>
<html>
<head>
    <title>Locales</title>
</head>
<body>

<nav>
    <H3>Carrito {{local}}</H3>
    <section id="comprar">
        <form id="form_envio" action="/pedidos" method="POST">
            <input type="hidden" name="idLocal" value={{idLocal}}>
            <label>Direccion </label>
            <select id="direccion" name="direccion" form="form_envio">
                {{#direcciones}}
                    <option value={{@index}}>{{calle}}</option><br>
                {{/direcciones}}
            </select>
            <input type="submit" value="Finalizar" form="form_envio"><p style="color:Red;">{{error}}</p><br>
        </form>
    </section>
    <section id="items">
        Items:
        <ul>
            {{#items}}
            <li>{{plato}} | {{cantidad}} u. | aclaraciones: {{aclaraciones}}</li>
            {{/items}}
        </ul>
    </section>
</nav>
</body>
</html>
