
<!DOCTYPE html>
<html>
    <head>
        <title>Pedidos Ya</title>
    </head>

    <body>
        <section id="Registro-combos">
            <h2>Crear Plato</h2>
            <form action="/locales/{{idLocal}}/platos" method="POST">
                <label>Nombre del combo: </label>
                <input type="text" name="nombre"><br>

                <input type="hidden" name="tipo" value="combo"><br>

                <input type="submit" value="Crear combo"><p style="color:Red;">{{mensaje}}</p><br>
            </form>
        </section>

        <section>
            <h3>Componentes: </h3>

            <ul>
                {{#componentes}}
                    <li>{{nombre}}</li>
                {{/componentes}}
            </ul>

            <form action="/locales/{{idLocal}}/platos/nuevo-combo" method="POST">
                <label>Agregar plato:</label>
                <select name="idPlato">
                    {{#platosDelLocal}}
                        <option value={{id}}>{{nombre}}</option>
                    {{/platosDelLocal}}
                </select>
                <input type="submit">
            </form>

        </section>
    </body>
</html>