    {{#partial "titulo"}}
        <title>Local</title>
    {{/partial}}

    {{#partial "nav-menu"}}class="active"{{/partial}}

    {{#partial "contenido"}}
        <H2>{{nombre}}</H2>
        <section class="columnado">
            <div id="info-local">
                <H3>Puntuación media: {{puntuacion}}</H3>

                <h3>Datos del Local:</h3>
                <form method="post" action="/local">
                    <li>
                        <Strong>Direccion: </Strong>
                        <input type="text" name="nuevaDireccion" value="{{Direccion}}">
                    </li>
                    <br>
                    <li>
                        <strong>Categoría:</strong>
                        <select name=nuevaCategoria>
                            <option value="{{categoriaLocal}}">{{categoriaLocal}}</option>
                            {{#masCategorias}}
                                <option value="{{this}}">{{this}}</option>
                            {{/masCategorias}}
                        </select>
                    </li>
                    <br>
                    <input type="submit" value="Actualizar">

                    <p class = "msj_error">{{mensaje}}</p>
                </form>
            </div>

            <div id="Menu">
                <h3>Menu:</h3>
                <form method="get" action="/platos/nuevo">
                    <button type="submit">Agregar Plato</button>
                </form>

                <form method="get" action="/platos/nuevo-combo">
                    <button type="submit">Armar Combo</button>
                </form>

                <div class="item-container">
                    {{#Platos}}
                        <div>
                            <a href="/platos/{{idPlato}}">{{nombre}}</a>
                            <p>${{precio}}</p>
                        </div>
                    {{else}}
                        <p>Aquí se verán sus platos</p>
                    {{/Platos}}
                </div>
            </div>
        </section>
    {{/partial}}

{{>layout_local.html.hbs}}
