
    {{#partial "titulo"}}
        <title>Home</title>
    {{/partial}}

    {{#partial "contenido"}}

        <section id="presentacion" class="filas_centradas">
            <h1>Pedi2 Ya</h1>
            <p>Saboreá las mejores comedias sin moverte de tu casa</p>
        </section>

        <h3>¡Bienvenido {{nombreCliente}}!</h3>
        <p>Estas son nuestras recomendaciones:</p>
        <section id="recomendaciones" class="columnado">
            <div id="top locales">
                <h3>Top Locales:</h3>
                <ol>
                    {{#Locales}}
                        <li><a href="/locales/{{id}}">{{nombre}}</a></li>
                    {{/Locales}}
                </ol>
            </div>

            <div id="top Categorias">
                <h3>Top Categorias:</h3>
                <ol>
                    {{#Categorias}}
                        <li><a href="/locales?categoria={{this}}">{{this}}</a></li>
                    {{/Categorias}}
                </ol>
            </div>
        </section>

    {{/partial}}

{{> layout_cliente.html.hbs }}