    {{#partial "titulo"}}
        <title>Local</title>
    {{/partial}}

    {{#partial "contenido"}}
        <H2>{{nombre}}</H2>
        <section id="info-local">
            <form method="post" action="/local">
                <li>
                    <Strong>Direccion: </Strong>
                    <input type="text" name="direccion" value="{{Direccion}}">
                </li>
                <br>
                <li>
                    <strong>Categoría:</strong>
                    <select name=categoria>
                        <option value="{{categoriaLocal}}">{{categoriaLocal}}</option>
                        {{#masCategorias}}
                            <option value="{{this}}">{{this}}</option>
                        {{/masCategorias}}
                    </select>
                </li>

                <input type="submit" value="Actualizar">
            </form>
        </section>

        <section id="Menu">
            <h3>Menu:</h3>
            <ul>
                {{#Platos}}
                    <li><a href="/platos/{{idPlato}}">{{nombre}}</a> ........... ${{precio}}</li>
                {{else}}
                    <p>Aún no se registraron platos</p>
                {{/Platos}}
            </ul>


            <form method="get" action="/platos/nuevo">
                <button type="submit">Agregar Plato</button>
            </form>

            <form method="get" action="/platos/nuevo-combo">
                <button type="submit">Armar Combo</button>
            </form>

        </section>
    {{/partial}}

{{>layout_local.html.hbs}}
