    {{#partial "titulo"}}
        <title>Locales</title>
    {{/partial}}

    {{#partial "contenido"}}
        <H2>{{nombre}}</H2>
        <section class="columnado">
            <section>
                <div id="info-local">
                    <h3>Datos del Local:</h3>
                    <ul>
                        <li><Strong>Direccion: </Strong>{{Direccion}}</li>
                        <br>
                        <li><strong>Categoría:</strong> <a href="/locales?categoria={{categoriaLocal}}">{{categoriaLocal}}</a></li>
                    </ul>
                </div>

                <div id="Menu">
                    <h3>Menu:</h3>
                    <ul>
                        {{#Platos}}
                            <li><a href="/locales/{{../idLocal}}/platos/{{idPlato}}">{{nombre}}</a> ........... ${{precio}}</li>
                        {{else}}
                            <p>Aún no se encuentran cargados los platos de este local, regrese más tarde</p>
                        {{/Platos}}
                    </ul>
                </div>
            </section>

            <section id="carrito">
                <H3>Carrito:</H3>
                <div id="items">
                    <p>Items:</p>
                    <ul>
                        {{#if items}}
                        <table style="width:100%">
                            <tr>
                                <th>Plato</th>
                                <th>Cantidad</th>
                                <th>Aclaraciones</th>
                                <th>Eliminar</th>
                            </tr>

                            {{#items}}
                                <tr>
                                    <td>{{plato}}</td>
                                    <td>{{cantidad}} u.</td>
                                    <td>{{aclaraciones}}</td>
                                    <td>
                                        <!-- no me dejo usar DELETE -->
                                        <form method="POST" action="/locales/{{idLocal}}/carrito/{{@index}}?method=delete">
                                            <button type="submit">Eliminar</button></form>

                                    </td>
                                </tr>
                            {{/items}}
                        </table>
                    {{else}}
                        <p>Aún no ha seleccionado ninguno</p>
                    {{/if}}

                    </ul>
                </div>

                <div id="precio">
                    <p>Precio Base: ${{precioBase}}</p>
                    <p>>     Descuento por cliente {{categoria}}: ${{dtoCategoria}}</p>
                    <p>Monto a abonar: <strong>${{precioFinal}}</strong></p>
                </div>

                <div id="comprar">
                    <form id="form_envio" action="/pedidos" method="POST">
                        <input type="hidden" name="idLocal" value={{idLocal}}>
                        <label>Direccion </label>
                        <input list="direcciones" name="direccion">
                        <datalist id="direcciones">
                            {{#direcciones}}
                                <option value="{{this}}">{{this}}</option><br>
                            {{/direcciones}}
                        </datalist>
                        <br>

                        <label>Usar cupón</label>
                        <select id="descuentos" name="descuento" form="form_envio">
                            {{#descuentos}}
                                <option value={{@index}}>{{detalle}}</option><br>
                            {{/descuentos}}
                        </select>
                        <br>
                        <input type="submit" value="Finalizar" form="form_envio"><p class="msj_error">{{error}}</p><br>
                    </form>
                </div>
            </section>
        </section>

    {{/partial}}

{{> layout_cliente.html.hbs }}