{{#partial "titulo"}}
    <title>Locales</title>
{{/partial}}

{{#partial "contenido"}}
    <h2>Locales</h2>
    <section class="centrado">
        <div id="categorias">
            <form id="filtro" action="/locales" method="GET">
                <input type="text" name="nombre" value="{{ultimoBuscado}}" placeholder="Nombre del local" class="buscador">
                <input type="submit" value="Buscar">
                <br>
                <label> Categorías </label>
                <select name="categoria" form="filtro" onchange="this.form.submit()">
                    {{#categorias}}
                        <option value="{{this}}">{{this}}</option>
                    {{/categorias}}
                </select>
            </form>
        </div>

        <div id="locales">
            <ul>
                <hr>
                {{#Locales}}
                    <li>
                        <article class="local-listado">
                            <h3><a href="/locales/{{idLocal}}">{{nombre}}</a></h3>
                            <p>
                                <strong>Puntuación Media:</strong> {{puntuacion}} &#127860;
                                <br>
                                <Strong>Direccion:       </Strong> {{Direccion}}
                                <br>
                                <strong>Categoría:       </strong> {{categoriaLocal}}
                                <br>
                            </p>
                        </article>
                    </li>

                <hr>
                {{else}}
                    <p class="vacia">No se encontró ningún local asociado a la categoría {{categoria}}</p>
                <hr>
                {{/Locales}}
            </ul>
        </div>
    </section>
{{/partial}}

{{>layout_cliente.html.hbs}}