    {{#partial "titulo"}}
        <title>Locales</title>
    {{/partial}}

    {{#partial "contenido"}}
        <H2>{{nombre}}<br>{{puntuacion}}</H2>
        <section class="columnado">
            <section>
                <div id="info-local">
                    <h3>Datos del Local:</h3>
                    <ul>
                        <li><Strong>Direccion: </Strong>{{Direccion}}</li>
                        <br>
                        <li><strong>Categoría:</strong> <a href="/locales?categoria={{categoriaLocal}}">{{categoriaLocal}}</a></li>
                    </ul>
                </div>

                <div id="suscripcion">
                    <H3>Suscripción</H3>
                    {{#unless suscripto}}
                        <p>
                           Al suscribirte a un local, recibirás notificaciones <br>
                           de descuentos y nuevos platos en el menú
                        </p>

                        <form action="/suscripciones" method="post">
                            <input type="hidden" name="idLocal" value="{{idLocal}}">
                            <input type="submit" value="Suscribirse">
                        </form>
                    {{else}}
                        <p>Ud. se encuentra suscripto a este local</p>
                        <form action="/suscripciones/{{idLocal}}" method="post">
                            <input type="submit" value="Desuscribirse">
                        </form>
                    {{/unless}}
                </div>

                {{#if platosNuevos}}
                <div id="platos nuevos">
                    <h3>Recientemente Agregados:</h3>
                    <div class="item-container">
                        {{#platosNuevos}}
                            <div>
                                <a href="/locales/{{../idLocal}}/platos/{{idPlato}}">{{nombre}}</a>
                                <p>${{precio}}</p>
                            </div>
                        {{/platosNuevos}}
                    </div>
                </div>
                {{/if}}

                <div id="Menu">
                    <h3>Menu:</h3>
                    <div class="item-container">
                        {{#Platos}}
                            <div>
                                <a href="/locales/{{../idLocal}}/platos/{{idPlato}}">{{nombre}}</a>
                                <p>${{precio}}</p>
                            </div>
                        {{else}}
                            <p>Aún no se encuentran cargados los platos de este local, regrese más tarde</p>
                        {{/Platos}}
                    </div>
                </div>

            </section>

            <section id="carrito">
                <H3>Carrito:</H3>
                <div id="items">
                    <p>Items:</p>
                    <ul>
                        {{#if items}}
                        <table style="width:100%">
                            <tr>
                                <th>Plato</th>
                                <th>Cantidad</th>
                                <th>Aclaraciones</th>
                                <th>Eliminar</th>
                            </tr>

                            {{#items}}
                                <tr>
                                    <td>{{plato}}</td>
                                    <td>{{cantidad}} u.</td>
                                    <td>{{aclaraciones}}</td>
                                    <td>
                                        <!-- no me dejo usar DELETE -->
                                        <form method="POST" action="/locales/{{idLocal}}/carrito/{{@index}}?method=delete">
                                            <button type="submit">Eliminar</button></form>

                                    </td>
                                </tr>
                            {{/items}}
                        </table>
                    {{else}}
                        <p>Aún no ha seleccionado ninguno</p>
                    {{/if}}

                    </ul>
                </div>

                <div id="precio">
                    <p>Precio Base: ${{precioBase}}</p>
                    <p>>     Descuento por cliente {{categoriaCliente}}: ${{dtoCategoria}}</p>
                    <p>Monto a abonar: <strong>${{precioFinal}}</strong></p>
                </div>

                <div id="comprar">
                    <form id="form_envio" action="/pedidos" method="POST">
                        <input type="hidden" name="idLocal" value={{idLocal}}>
                        <label>Direccion </label>
                        <input list="direcciones" name="direccion">
                        <datalist id="direcciones">
                            {{#direcciones}}
                                <option value="{{this}}">{{this}}</option><br>
                            {{/direcciones}}
                        </datalist>
                        <br>

                        <br>
                        <input type="submit" value="Finalizar" form="form_envio"><p class="msj_error">{{error}}</p><br>
                    </form>
                </div>
            </section>
        </section>

    {{/partial}}

{{> layout_cliente.html.hbs }}