{{#partial "titulo"}}
    <title>Notificaciones</title>
{{/partial}}

{{#partial "nav-notificaciones"}}class="active"{{/partial}}

{{#partial "contenido"}}
    <h2>Notificaciones</h2>

    <section id="notificaciones" class="alineado-izq">
        {{#if notificaciones}}
            <ul>
                {{#notificaciones}}
                    <li>
                        <article class="notificacion">
                            <h3><strong>{{asunto}}</strong> [{{fecha}} - {{hora}}]</h3>
                            <p>{{cuerpo}}</p><br>
                        </article>
                    </li>
                {{/notificaciones}}
            </ul>
        {{else}}
            <p class="vacia">Aún no ha recibido ninguna notificación</p>
        {{/if}}
    </section>

{{/partial}}

{{#if local}}
    {{>layout_local.html.hbs}}
{{else}}
    {{>layout_cliente.html.hbs}}
{{/if}}
