<!DOCTYPE html>
<html>
<head>
    <title>Notificaciones</title>
</head>
<body>
    <h1>Notificaciones</h1>

    <section id="notificaciones">
        <ul>
            {{#each notificaciones}}
                <li>
                    <h3> <a href="/notificaciones/{{id}}"> Notificacion # {{@index}}</a> </h3>
                    <strong> Asunto: </strong> {{asunto}} <br>
                    <strong> Cuerpo: </strong> {{cuerpo}} <br>
                    <strong> Fecha: </strong> {{fecha}} <br>
                </li>

            {{/each}}
        </ul>
    </section>
</body>
</html>