{{#partial "titulo"}}
    <title>Notificaciones</title>
{{/partial}}
{{#partial "contenido"}}
    <main class="filas_centradas">
        <h2>Notificaciones</h2>
        <section id="notificaciones" class="alineado-izq">
            {{#if notificaciones}}
            <ul>
                {{#notificaciones}}
                    <li>
                        <article class="notificacion">
                            <h3><strong>{{asunto}}</strong> [{{fecha}} - {{hora}}]</h3>
                            <p>{{cuerpo}}</p><br>
                        </article>
                    </li>
                {{/notificaciones}}
            </ul>
            {{else}}
                <p>No tiene ninguna notificación</p>
            {{/if}}
        </section>
    </main>
{{/partial}}

{{#if local}}
    {{>layout_local.html.hbs}}
{{else}}
    {{>layout_cliente.html.hbs}}
{{/if}}
