    {{#partial "titulo"}}
        <title>Pedido</title>
    {{/partial}}

    {{#partial "contenido"}}
        <nav>
            <H3>Pedido #{{id}}</H3>
            <section id="datos_pedido">
                <ul>
                    <li><strong>Local:</strong> {{local}}</li>
                    <li><strong>Estado:</strong> {{estado}}</li>
                    <li><strong>Precio:</strong> ${{importe}}</li>
                    <li><strong>Direccion:</strong> {{direccion}}</li>
                </ul>
            </section>
            <section id="items">
                <p>Items:</p>
                <ul>
                    {{#items}}
                        <li>{{plato}} | {{cantidad}} u. | aclaraciones: {{aclaraciones}}</li><br></br>
                    {{/items}}
                </ul>
            </section>

            <section>

                <form method="get" action="/pedidos">
                    <button type="submit">Ver todos los pedidos</button>
                </form>

                <form method="get" action="/locales">
                    <button type="submit">Volver a Locales</button>
                </form>

            </section>
        </nav>

    {{/partial}}

    {{>layout_cliente.html.hbs}}