<!DOCTYPE html>
<html>
<head>
    <title>Pedidos</title>
</head>
<body>
    <h1>Historial de pedidos</h1>

    <section id="pedidos">
        <ul>
            {{#pedidos}}
                <li>
                    <h3> <a href="/pedidos/{{id}}"> Pedido #{{numero}}</a> - [{{estado}}]</h3>
                    <strong> Fecha: </strong> {{fecha}} <br>
                    <strong> Local: </strong> {{local}} <br>
                    <strong> Importe: </strong> ${{importe}} <br>
                </li>

            {{else}}
                <p>Aún no has realizado ningún pedido. ¿Qué esperas?</p>
            {{/pedidos}}
        </ul>
    </section>
</body>
</html>