{{#partial "titulo"}}
    <title>Pedidos</title>
{{/partial}}

{{#partial "contenido"}}
    <h2>Pedidos Recibidos</h2>

    <section id="pedidos">
        <ul>
            {{#pedidos}}
                <li>
                    <h3> <a href="/pedidos/{{numero}}"> Pedido #{{numero}}</a> - [{{estado}}]</h3>
                    <strong> Fecha: </strong> {{fecha}} <br>
                    <strong> Importe: </strong> ${{importe}} <br>
                </li>
            {{else}}
                <p>Aún no has recibido ningún pedido</p>
            {{/pedidos}}
        </ul>
    </section>
{{/partial}}

{{>layout_local.html.hbs}}
