{{#partial "titulo"}}
    <title>Pedido</title>
{{/partial}}

{{#partial "contenido"}}
    <nav>
        <H3>Pedido #{{numero}} - [{{estado}}]</H3>
        <div id="datos_pedido">
            <ul>
                <li><strong>Precio:</strong> ${{importe}}</li>
                <li><strong>Direccion:</strong> {{direccion}}</li>
            </ul>
        </div>
        <div id="items">
            <p>Items:</p>
            <ul>
                {{#items}}
                    <li>{{plato}} | {{cantidad}} u. | aclaraciones: {{aclaraciones}}</li><br></br>
                {{/items}}
            </ul>
        </div>
        {{#if pendiente}}
            <div id="accion">
                <form action="/pedidos/{{numero}}" method="post">
                    <select name="decisionPedido">
                        <option hidden disabled selected>Elegir acción</option>
                        <option value="CONFIRMADO">Confirmar</option>
                        <option value="RECHAZADO">Rechazar</option>
                    </select>
                    <input type="submit" value="Enviar">
                </form>
            </div>
        {{/if}}
    </nav>
{{/partial}}

{{>layout_local.html.hbs}}