{{#partial "titulo"}}
    <title>Plato</title>
{{/partial}}

{{#partial "contenido"}}
    <H2>{{nombre}}</H2>

    <section class="columnado">
        <div id="plato">
            <h3>Datos del plato:
                {{#if descuento}}
                    <span class="msj_positivo"> {{descuento}}% OFF</span>
                {{/if}}
            </h3>
            <ul>
                <li>
                    <Strong>Precio: </Strong>${{precio}}
                    {{#if descuento}}
                        <del class="msj_positivo"> ${{precioBase}}</del>
                    {{/if}}
                </li>

                <li><Strong>Descripción: </Strong>{{descripcion}}</li>

                {{#if ingredientes}}
                    <li><Strong>Ingredientes: </Strong>{{ingredientes}}</li>
                {{/if}}
                {{#if componentes}}
                    <li><Strong>Componentes: </Strong>
                        <ul>
                        {{#componentes}}
                            <li><a href="/locales/{{../idLocal}}/platos/{{idPlato}}">{{nombre}}</a></li>
                        {{else}}
                            <p>Los componentes de este combo han sido eliminados</p>
                        {{/componentes}}
                        </ul>
                    </li>
                {{/if}}

            </ul>
        </div>

        <div id="compra">
            <form action="/locales/{{idLocal}}/carrito" method="POST">
                <input type="hidden" name="idPlato" value="{{idPlato}}" />
                <label>Cantidad</label><br>
                <input type="number" min="1" name="cantidad" required> <br>
                <label>Aclaraciones</label><br>
                <textarea name="aclaraciones" id="idAclaraciones" rows="3" class="auto_height"></textarea> <br>
                <input type="submit" value="Agregar al carrito"><p class="msj_error">{{mensaje}}</p>
            </form>
        </div>
    </section>
{{/partial}}

{{>layout_cliente.html.hbs}}