{{#partial "titulo"}}
    <title>Plato</title>
{{/partial}}

{{#partial "contenido"}}
    <nav>
        <H3>{{nombre}}</H3>
        <section id="plato">
            Datos del plato:
            <ul>
                <li><Strong>Precio: </Strong>${{precio}}</li>
            </ul>
        </section>

        <section id="compra">
            <form action="/locales/{{idLocal}}/carrito" method="POST">
                <input type="hidden" name="idPlato" value="{{idPlato}}" />
                <label>Cantidad</label>
                <input type="number" min="1" name="cantidad" required> <br>
                <label>Aclaraciones</label>
                <textarea name="aclaraciones" id="idAclaraciones" rows="1" class="auto_height"></textarea> <br>
                <input type="submit" value="Agregar al carrito"><p style="color:Red;">{{mensaje}}</p>
            </form>
        </section>
    </nav>
{{/partial}}

{{>layout_cliente.html.hbs}}