{{#partial "titulo"}}
    <title>Plato</title>
{{/partial}}

{{#partial "contenido"}}
    <main class="columnado">

        <section id="plato" class="local">
            <H3>{{nombre}}</H3>
            Datos del plato:
            <ul>
                <li><Strong>Precio: </Strong>${{precio}}</li>
            </ul>
        </section>

        <section id="compra" class="carrito">
            <form action="/locales/{{idLocal}}/carrito" method="POST">
                <input type="hidden" name="idPlato" value="{{idPlato}}" />
                <label>Cantidad</label>
                <input type="number" min="1" name="cantidad" required> <br>
                <label>Aclaraciones</label>
                <textarea name="aclaraciones" id="idAclaraciones" rows="1" class="auto_height"></textarea> <br>
                <input type="submit" value="Agregar al carrito"><p class="msj_error">{{mensaje}}</p>
            </form>
        </section>
    </main>
{{/partial}}

{{>layout_cliente.html.hbs}}